/RPITechSuppCamViewer/nbproject/private/
/RPITechSuppRegistrar/nbproject/private/
/RPITechSuppServer/nbproject/private/
/RemotePiManager/nbproject/private/
/RPITechSuppServer/build/
/RPITechSuppCamViewer/build/
/RPITechSuppCamViewer/dist/lib
/RemotePiManager/nbproject/private/
/RemotePiManager/build/
/RemotePiManager/dist/lib
/RPITechSuppRegistrar/dist/lib
/RPITechSuppRegistrar/nbproject/private/private.xml